// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-family-headings: 'Signika', Helvetica, Arial, sans-serif;
$font-size: 1.10em !default;

// Padding
$padding-large: 20% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

// Brand colours
$brand-color: #07001e !default;
$background-color: #0C0032 !default;
$border-color: #07001e !default; // rgba recommended if using feature images

// Typography colours
$text-color: #D7DFDD !default;
$link-color: #3500D3 !default;
$selection-color: #FFFFFF !default; // visible when highlighting text

// Tags color
$tags-color: #3500D3 !default;

//Search color
$search-color: #999 !default;

// Header colours
$header-link-color: #716F87 !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-size: cover !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #190061 !default;
$header-desc-text-color: #D7DFDD !default;
$header-desc-link-color: #716F87 !default;
